In [ ]:
##Variables: Almacenan información de manera temporal (Cualquier tipo de dato)

In [ ]:
miVariable="Hola mundo"
print(miVariable)
miVariable=15
print(miVariable)
#No es necesario indicar el tipo de variable que voy a utilizar.
#Se pueden cambiar el valor de las varibables
#Las variables se almacenan en una dirección de memoria RAM

Hola mundo
15

In [ ]:
x=10
y=2
z=x+y
print(x)
print(y)
print(z)
print(id(x)) #Dirección de memoria RAM donde está almacendo el valor de 'x'

10
2
12
140611728333392

In [ ]:
#EJERCICO DE VARIABLES
nombre="José Olmedo"
telefono='5512345678'
mail="josomedo@mail.com"
print(nombre)
print(telefono)
print(mail)

José Olmedo
5512345678
josomedo@mail.com

In [ ]:
#TIPOS DE DATOS EN PYTHON
#Numericos: Interger, Complex number, float
#Dictonary
#Boolean
#Set
#Sequence Type: Strings, List, Tuple

In [ ]:
x=10
y="Hola a todos"
z=10.5
w=True
print(type(x)) #Nos dice el tipo de dato de una variable
print(type(y))
print(type(z))
print(type(w))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
#MANEJO DE CADENAS
miGrupoFavorito="Aerosmith"
comentario="(la mejor banda de rock)"
#Concatenación
print("Mi grupo favorito es: " + miGrupoFavorito +" "+ comentario)
print("Mi grupo favorito es:", miGrupoFavorito, comentario) #Nótese que no hay espacio entre los dos puntos
print("Mi grupo favorito es:", miGrupoFavorito +" "+ comentario)

Mi grupo favorito es: Aerosmith (la mejor banda de rock)
Mi grupo favorito es: Aerosmith (la mejor banda de rock)
Mi grupo favorito es: Aerosmith (la mejor banda de rock)

In [ ]:
#Conversión de tipo de dato
numero1="1"
numero2="2"
print("Suma:",int(numero1)+int(numero2))

Suma: 3

In [ ]:
#Tipos bool (bolean)
miVariable=False
print(miVariable)

miVariable=1<2
print(miVariable)

if miVariable is False:  #is actúa como "es"
  print("El resultado fue falso")
else:
  print("El resultado fue verdero")

False
True
El resultado fue verdero

In [ ]:
#Procesar la entrada de usuario (función input)
#La función input regresa una CADENA
resultado=input("Por favor ingresa algo: ")
print("Lo que ingresaste es:", resultado)

Por favor ingresa algo: 56
Lo que ingresaste es: 56

In [ ]:
#Continuación....
numero1=float(input("Ingresa el primer número: "))
numero2=float(input("Ingresa el segundo número: "))
print("La suma de ambos números es:",numero1+numero2)

Ingresa el primer número: 69.52
Ingresa el segundo número: 45.259
La suma de ambos números es: 114.779

In [ ]:
#Ejercicio "Califica tu día"
calificacion=int(input("¿Cómo estuvo tu día? (1 al 10): "))
print("Tu día estuvo de: "+str(calificacion))

¿Cómo estuvo tu día? (1 al 10): 10
Tu día estuvo de: 10

In [ ]:
#Ejercicio "Datos del libro"
titulo=input("Proprcione el título del libro: ")
autor=input("Proporcione el autor del libro: ")
print(titulo,"fue escrito por",autor)

Proprcione el título del libro: El amor en los tiempos de cólera
Proporcione el autor del libro: Gabriel García Márquez
El amor en los tiempos de cólera fue escrito por Gabriel García Márquez

In [ ]:
#OPERADORES ARITMÉTICOS
#Suma: +
#Resta: -
#Multiplicación: *
#División: /
#División de tipo entero: //
#Exponenciación: **
#Módulo: %
operandoA=float(input("Ingresa un número: "))
operandoB=float(input("Ingresa otro número: "))

suma=operandoA+operandoB
resta=operandoA-operandoB
multiplicacion=operandoA*operandoB
division=operandoA/operandoB
divisionEntera=operandoA//operandoB
exponenciacion=operandoA**operandoB
modulo=operandoA%operandoB

print(f'El resultado de la suma es: {suma} unidades')#Nueva forma de imprimir información
print(f'El resultado de la resta es: {resta} unidades')
print(f'El resultado de la multipliacion es: {multiplicacion} unidades')
print(f'El resultado de la división es: {division} unidades')
print(f'El resultado de la división entera es: {divisionEntera} unidades')  #Nótese que se trunca
print(f'El resultado de la exponenciacion es: {exponenciacion} unidades')
print(f'El resultado del módulo es: {modulo} unidades')

Ingresa un número: 3.14
Ingresa otro número: 5
El resultado de la suma es: 8.14 unidades
El resultado de la resta es: -1.8599999999999999 unidades
El resultado de la multipliacion es: 15.700000000000001 unidades
El resultado de la división es: 0.628 unidades
El resultado de la división entera es: 0.0 unidades
El resultado de la exponenciacion es: 305.2447761824001 unidades
El resultado del módulo es: 3.14 unidades

In [ ]:
#Ejercicio propuesto
#Calcular el área y perímetro de un rectángulo
"""Las triples comillas
te permiten
agregar comentarios de multiples
lineas"""
print("Programa para calcular el área y perimetro de un rectángulo")
alto=float(input("Ingresa el alto: "))
ancho=float(input("Ingresa el ancho: "))
area=alto*ancho
perimetro=alto+ancho
print(f'El área del rectángulo es de: {area} unidades cuadradas')
print(f'El perímetro del rectángulo es de: {perimetro} unidades')

Programa para calcular el área y perimetro de un rectángulo
Ingresa el alto: 5
Ingresa el ancho: 5
El área del rectángulo es de: 25.0 unidades cuadradas
El perímetro del rectángulo es de: 10.0 unidades

In [ ]:
#Ejercicio número par o impar
numero=int(input("Ingrese un número: "))
numero=numero%2
if numero==0:
  print("El número que ingresaste es par")
else:
  print("El número que ingresaste es impar")

Ingrese un número: 100000
El número que ingresaste es par

In [ ]:
#Ejercicio determinar si eres mayor de a
edad=int(input("Ingresa tu edad porfavor: "))
if edad>=18:
  print("Eres mayor de edad, puedes pasar")
else:
  print("No eres mayor de edad, no puedes pasar")

Ingresa tu edad porfavor: 22
Eres mayor de edad, puedes pasar

In [ ]:
#OPERADORES LÓGICOS
"""
and: Devuelve True si ambos operandos son True
or: Devuelve True si alguno de los operandos es True
not: Devuelve True si alguno de los operandos es False (invierte valor: not a)
"""
a=False
b=True
resultado=not a
print(resultado)

True

In [ ]:
#Ejercicio valor dentro de rango (and)
"""
Pedir valor y decir se encuentra dentro del rango de 0 al 5 """
valor=float(input("Ingrese un valor: "))
if valor>=0 and valor<=5:
  print(f'El valor {valor} se encuentra dentro del rango de 0 a 5')
else:
  print(f'El valor {valor} no se encuentra dentro del rango de 0 a 5')

Ingrese un valor: -5
El valor -5.0 no se encuentra dentro del rango de 0 a 5

In [ ]:
#Ejercicio operador or
"""Asistir al juego del hijo"""
vacaciones=input("¿Estás de vacaciones? (Ingrese S/N): ")
descanso=input("Es un día de descanso (Ingrese S/N): ")
#Validación
if vacaciones=='S':
  vacaciones=True
else:
  vaciones=False
if descanso=='S':
  descanso=True
else:
  descanso==False
#Uso de 'or'
if vacaciones or descanso:
  print("Puedes asistir al juego de tu hijo")
else:
  print("No puedes asistir al juego de tu hijo")

¿Estás de vacaciones? (Ingrese S/N): N
Es un día de descanso (Ingrese S/N): S
Puedes asistir al juego de tu hijo

In [ ]:
#Ahora con operador not
if not(vacaciones or descanso):
  print("No puedes asistir al juego de tu hijo")
else:
  print("Puedes asistir al juego de tu hijo")

Puedes asistir al juego de tu hijo

In [ ]:
#Otro ejercicio usando operadores lógicos
"""Rango dentro de 20 ó 30 años"""
edad=int(input("Ingresa tu edad: "))
if edad>=20 and edad<=30:
  print("Estas dentro del rango de 20 a 30")
else:
  print("No estás dentro del rango de 20 a 30")

Ingresa tu edad: 31
No estás dentro del rango de 20 a 30

In [ ]:
#Ejercicio mayor de dos números
numero1=float(input("Ingresa el primer número: "))
numero2=float(input("Ingresa el segundo número: "))
if numero1<numero2:
  print(f'El número mayor es: {numero2}')
elif numero1>numero2:
  print(f'El número mayor es: {numero1}')
else:
  print(f'El número {numero1} es exactamente igual al {numero2}')

Ingresa el primer número: 12.58
Ingresa el segundo número: 12.57
El número mayor es: 12.58

In [ ]:
"""Realice un progrma que pida los siguientes datos
de un libro:
Nombre
ID
Precio
Indicar si el envío es gratuito
y lo imprima en pantalla
"""
nombre=input("Ingrese el nombre del libro: ")
ID=input("Ingrese el ID del libro: ")
precio=float(input("Ingrese el precio del libro (MXN): "))
envio=input("¿El libro cuenta con envío gratuito? (S/N): ")
print(f'Nombre: {nombre}')
print(f'Precio: {precio}')
print(f'ID: {ID}')
if envio=='S':
  print('¿Envío gratuito?: Sí')
else:
  print('¿Envío gratuito?: No')

Ingrese el nombre del libro: Programación con Python
Ingrese el ID del libro: 433123
Ingrese el precio del libro (MXN): 250
¿El libro cuenta con envío gratuito? (S/N): N
Nombre: Programación con Python
Precio: 250.0
ID: 433123
¿Envío gratuito?: No

In [ ]:
#Ejercico estación del año según el mes
mes=int(input("Ingresa el mes del año en el que estamos (1-12): "))
if mes==1 or mes==2 or mes==12:
  print("Estamos en invierno")
elif mes==3 or mes==4 or mes==5:
  print("Estamos en primavera")
elif mes==6 or mes==7 or mes==8:
  print("Estamos en verano")
elif mes==9 or mes==10 or mes==11:
  print("Estamos en otoño")
else:
  print("No ingresaste un mes valido")

Ingresa el mes del año en el que estamos (1-12): 5
Estamos en primavera

In [ ]:
#Ejercicio etapas de la vida
edad=int(input("Ingresa tu edad: "))
if edad>=0 and edad<=10:
  print("La infancia es increible")
elif edad>10 and edad<=20:
  print("Muchos cambios y mucho estudio")
elif edad>20 and edad<=30:
  print("Amor y comienza el trabajo")
elif edad>30:
  print("Eres un hombre maduro")
else:
  print("Ingresaste una edad no válida")

Ingresa tu edad: -98
Ingresaste una edad no válida

In [ ]:
#Ejercicio sistema de calificaciones
"""
Crear sistema de calificaciones, ingresar valor entre 0 y 10
Si está entre 9 y 10: A
Si está entre 8 y menor a 9: B
Si está entre 7 y menor a 8: C
Si está entre 6 y menor a 7: D
Si está entre 0 y menor a 6: F
Cualquier otro valor debe imprimir: Valor incorrecto
Ejemplo:
Ingresa tu califcación: 8.5
Tu nota es: B
"""
##############################################
calificacion=float(input("Ingresa tu calificación: "))
if calificacion==10 and calificacion>=9:
  print("Tu nota es: A")
elif calificacion<9 and calificacion>=8:
  print("Tu nota es: B")
elif calificacion<8 and calificacion>=7:
  print("Tu nota es: C")
elif calificacion<7 and calificacion>=6:
  print("Tu nota es: D")
elif calificacion<6:
  print("Tu nota es: F")
else:
  print("Valor incorrecto")

Ingresa tu calificación: 11
Valor incorrecto

In [ ]:
#Ciclo While
"""Mientras una condición sea 'True' se ejecutará indefinidamente
Si se cambia durante el ciclo a 'False', se terminará el ciclo
"""
ciclo=True
contador=0
while ciclo:
  contador=contador+1
  if contador==10:
    ciclo=False
  print(contador)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Ejercicio While descendente
ciclo=True
contador=5
print(contador)
while ciclo:
  contador=contador-1
  if contador==0:
    ciclo=False
  print(contador)

5
4
3
2
1
0

In [ ]:
#Ciclo For en python

"""Este programa recorre cada letra en la cadena"""
cadena="Hola"
contador=0
for letra in cadena:
  contador+=1
  print(contador)

1
2
3
4

In [ ]:
#Palabra break interrumpe el ciclo
for letra in "Holanda":
  if letra=='a':
    print(f'Letra encontrada: {letra}')
    break
  else:
    print('Letra aún no encontrada')

Letra aún no encontrada
Letra aún no encontrada
Letra aún no encontrada
Letra encontrada: a

In [ ]:
#Palabra continue

In [ ]:
#Listas siempre se definen entre corchetes: perros=[]
nombres=['José', 'Marco', 'Isaac', 'Angélica', 'Mike','Wilson','Ron','Han','Paulie']
#Acceder a algun elemento es con el índice
print(nombres[0])
print(nombres[1])
print(nombres[2])
print(nombres[3])
print("")
print("Ahora de manera inversa:")
print("")
#Acceder a los elementos de manera inversa
print(nombres[-1])
print(nombres[-2])
print(nombres[-3])
print(nombres[-4])

José
Marco
Isaac
Angélica

Ahora de manera inversa:

Paulie
Han
Ron
Wilson

In [ ]:
#Acceder a un rango de valores de una lista
print(nombres[0:4]) #Accede desde el índice 0 hasta el 3 sin tocar el 4

#Del inicio de la lista hasta un índice sin tocarlo
print(nombres[:5])

#Del índice hasta el final de la lista
print(nombres[2:])

['José', 'Marco', 'Isaac', 'Angélica']
['José', 'Marco', 'Isaac', 'Angélica', 'Mike']
['Isaac', 'Angélica', 'Mike', 'Wilson', 'Ron', 'Han', 'Paulie']

In [ ]:
#Cambiar un valor de la lista
nombres[0]='Angel'
print(nombres[0])

Angel

In [ ]:
#Recorrer una lista
i=0
for nombre in nombres:
  print(f"Este es el nombre número {i} de la lista: {nombre}")
  i+=1

Este es el nombre número 0 de la lista: Angel
Este es el nombre número 1 de la lista: Marco
Este es el nombre número 2 de la lista: Isaac
Este es el nombre número 3 de la lista: Angélica
Este es el nombre número 4 de la lista: Mike
Este es el nombre número 5 de la lista: Wilson
Este es el nombre número 6 de la lista: Ron
Este es el nombre número 7 de la lista: Han
Este es el nombre número 8 de la lista: Paulie

In [ ]:
#Pedir el largo de una lista
Largo=len(nombres)
print(Largo,'\n')

#Agregar elemento a una lista:

nombres.append('Mariano')
nombres.append('Gato')
print(nombres, "\n")


#Insertar elementos en un índice específico
nombres.insert(4, 'Robbie')
print(nombres, '\n')

#Eliminar elementos de una lista por valor
nombres.remove('Gato')
print(nombres, '\n')

#Eliminar el ultimo elemento (Aquí se elimina 'Feo)
nombres.append('Feo')
nombres.pop()
print(nombres, '\n')

#Eliminar elemento por indice
nombres.append('Tonto')
del nombres[-1]
print(nombres, '\n')

#Limpiar lista
nombres.clear()
print(nombres, '\n')

#Borrar lista por completo
del nombres
#print(nombres)

9

['Angel', 'Marco', 'Isaac', 'Angélica', 'Mike', 'Wilson', 'Ron', 'Han', 'Paulie', 'Mariano', 'Gato']

['Angel', 'Marco', 'Isaac', 'Angélica', 'Robbie', 'Mike', 'Wilson', 'Ron', 'Han', 'Paulie', 'Mariano', 'Gato']

['Angel', 'Marco', 'Isaac', 'Angélica', 'Robbie', 'Mike', 'Wilson', 'Ron', 'Han', 'Paulie', 'Mariano']

['Angel', 'Marco', 'Isaac', 'Angélica', 'Robbie', 'Mike', 'Wilson', 'Ron', 'Han', 'Paulie', 'Mariano']

['Angel', 'Marco', 'Isaac', 'Angélica', 'Robbie', 'Mike', 'Wilson', 'Ron', 'Han', 'Paulie', 'Mariano']

[]

In [ ]:
#Ejercicios de rango
'''Sintaxis de range(inicio<opcional>, fin<obligatorio>, incremento<opcional>)'''
#Ejercicio 1: Iterar en un rango de 0 a 10 e imprimir numeros divisibles entre 3
for i in range(0,11,1):
  if i%3==0:
    print(f"El número {i} es divisible entre 3")
#Ejercicio 2: Crear un rango de números de 4 al 122 e imprimirlos con paso de 5 en 5
print("")
for i in range(4,122,5):
  print(i)

El número 0 es divisible entre 3
El número 3 es divisible entre 3
El número 6 es divisible entre 3
El número 9 es divisible entre 3

4
9
14
19
24
29
34
39
44
49
54
59
64
69
74
79
84
89
94
99
104
109
114
119

In [ ]:
#TUPLAS son muy parecidas a las listas pero son de caracter inmutable
animales=('Perro', 'Gato', 'Tigre', 'Oso', 'Leopardo', 'Pericos', 'Guacamayas')
print(animales, '\n')

#Longitud de una tupla
print(len(animales), '\n')

#Acedder a un elemento en particular
print(animales[1], '\n')

#Recorrer una tupla
for animal in animales:
  print(animal, end=', ')  #El end indica como queremos que se imprima el siguiente elemento, por defecto es '\n'
print('\n')

#Acceder a un rango de valores
print(animales[2:5])

('Perro', 'Gato', 'Tigre', 'Oso', 'Leopardo', 'Pericos', 'Guacamayas')

7

Gato

Perro, Gato, Tigre, Oso, Leopardo, Pericos, Guacamayas,

('Tigre', 'Oso', 'Leopardo')

In [ ]:
#De tupla a lista
ListaAnimales=list(animales)
print(ListaAnimales, '\n')

#De lista a tupla
TuplaAnimales=tuple(ListaAnimales)
print(TuplaAnimales)

['Perro', 'Gato', 'Tigre', 'Oso', 'Leopardo', 'Pericos', 'Guacamayas']

('Perro', 'Gato', 'Tigre', 'Oso', 'Leopardo', 'Pericos', 'Guacamayas')

In [ ]:
#Ejercicios de tuplas
''' Dada la siguiente tupla crear una lista de números menores a 5 '''
MiTupla=(13,1,8,3,2,5,8)

MiLista=[]
for numeros in MiTupla:
  if numeros<5:
    MiLista.append(numeros)
print(MiLista)

[1, 3, 2]

In [ ]:
#Set no tiene un orden, no permite almacenar elementos duplicados, tampoco es posible modificarlos pero si es posible agregar más elementos

planetas={'Mecurio', 'Venus', 'Tierra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Neptuno','Plutón'}
print(planetas, '\n')

#Largo
print(len(planetas), '\n')

#Revisar si un elemento está presente
print('Tierra' in planetas, '\n')

#Añadir elementos
planetas.add('Wilsonio')
print(planetas, '\n')

#Eliminar elementos
planetas.remove('Wilsonio')
print(planetas, '\n')

#Limpiar set
planetas.clear()
print(planetas, '\n')

#Borrar set
del planetas

{'Venus', 'Tierra', 'Marte', 'Neptuno', 'Júpiter', 'Mecurio', 'Saturno', 'Plutón', 'Urano'}

9

True

{'Venus', 'Tierra', 'Marte', 'Neptuno', 'Wilsonio', 'Júpiter', 'Mecurio', 'Saturno', 'Plutón', 'Urano'}

{'Venus', 'Tierra', 'Marte', 'Neptuno', 'Júpiter', 'Mecurio', 'Saturno', 'Plutón', 'Urano'}

set()

In [ ]:
#DICCIONARIOS
'''Tienen una estructura de llave:valor'''
diccionario={
    'IDE': 'Integrated Development Environment',
    'OOP': 'Object Oriented Programming',
    'API': 'Application Programming Interface',
    'BD': 'Base de Datos',
    'HTML': 'HyperText Markup Language',
    'CSS': 'Cascading Style Sheets',
    'DBMS': 'Database Management System',
    'SQL': 'Structured Query Language',
    'JS': 'JavaScript',
}
print(diccionario, '\n')

#Largo
print(len(diccionario), '\n')

#Acceder a un elemento por clave
print(diccionario['IDE'], '\n')
#Otra forma
print(diccionario.get('DBMS'), '\n')

#Modificar elementos
diccionario['IDE']='integrated development environment'
print(diccionario, '\n')

#Agregar elementos
diccionario['Py']='Python'

print(diccionario, '\n')

#Eliminar elementos
del diccionario['OOP']
diccionario.pop('API')
print(diccionario, '\n')

#Recorrer un diccionario
for clave,valor in diccionario.items():
  print(clave,': ',valor)

print('')

#Solo llaves
for clave in diccionario.keys():
  print(clave, end=', ')

print('')

#Solo valores
for valor in diccionario.values():
  print(valor, end=', ')

print('\n')

#Verificar si hay algun elemento
print('IDE' in diccionario)

#Limpiar diccionario
diccionario.clear()
print('\n', diccionario, '\n')

#Borrar diccionario
del diccionario

{'IDE': 'Integrated Development Environment', 'OOP': 'Object Oriented Programming', 'API': 'Application Programming Interface', 'BD': 'Base de Datos', 'HTML': 'HyperText Markup Language', 'CSS': 'Cascading Style Sheets', 'DBMS': 'Database Management System', 'SQL': 'Structured Query Language', 'JS': 'JavaScript'}

9

Integrated Development Environment

Database Management System

{'IDE': 'integrated development environment', 'OOP': 'Object Oriented Programming', 'API': 'Application Programming Interface', 'BD': 'Base de Datos', 'HTML': 'HyperText Markup Language', 'CSS': 'Cascading Style Sheets', 'DBMS': 'Database Management System', 'SQL': 'Structured Query Language', 'JS': 'JavaScript'}

{'IDE': 'integrated development environment', 'OOP': 'Object Oriented Programming', 'API': 'Application Programming Interface', 'BD': 'Base de Datos', 'HTML': 'HyperText Markup Language', 'CSS': 'Cascading Style Sheets', 'DBMS': 'Database Management System', 'SQL': 'Structured Query Language', 'JS': 'JavaScript', 'Py': 'Python'}

{'IDE': 'integrated development environment', 'BD': 'Base de Datos', 'HTML': 'HyperText Markup Language', 'CSS': 'Cascading Style Sheets', 'DBMS': 'Database Management System', 'SQL': 'Structured Query Language', 'JS': 'JavaScript', 'Py': 'Python'}

IDE :  integrated development environment
BD :  Base de Datos
HTML :  HyperText Markup Language
CSS :  Cascading Style Sheets
DBMS :  Database Management System
SQL :  Structured Query Language
JS :  JavaScript
Py :  Python

IDE, BD, HTML, CSS, DBMS, SQL, JS, Py,
integrated development environment, Base de Datos, HyperText Markup Language, Cascading Style Sheets, Database Management System, Structured Query Language, JavaScript, Python,

True

 {}

In [ ]:
#Funciones en Python

#Crear una función
def miFuncion():
  print('Hola')

miFuncion()

#Argunemntos en una función
def Saludar(nombre,apellido):
  print(f'Hola {nombre} {apellido}')

#Primero=input('Ingresa tu nombre: ')
#Segundo=input('Ingresa tu apellido: ')
print('')
Saludar('Primero','Segundo')

def suma(a=2,b=7):
  return a+b

#Sin argumentos
print('')
print(suma())
#Con argumentos
print('')
print(suma(5,3))

Hola

Hola Primero Segundo

9

8

In [ ]:
#Funciones las cuales no sabemos cuantos argumentos queremos pasar
def listarNombres(*nombres): #De manera interna esto va a ser una tupla
  for nombre in nombres:
    print(f'Hola {nombre}', end=', ')
  print('\n')

listarNombres('José','Marco','Isaac','Angélica','Mike','Ron','Han','Wilson','Paulie','Robbie','Mariano')

'''Ejercicio de funciones: Creaar una función que sume n números'''

def sumarNumeros(*numeros):
  resultado=0
  for numero in numeros:
    resultado=numero+resultado
  return(f'La suma de los números que ingresaste es: {resultado}')

sumarNumeros(5,2,33,40)
#Video 77

Hola José, Hola Marco, Hola Isaac, Hola Angélica, Hola Mike, Hola Ron, Hola Han, Hola Wilson, Hola Paulie, Hola Robbie, Hola Mariano,

'La suma de los números que ingresaste es: 80'

In [ ]:
#Funciones que acepten como argumentos diccionarios
def ListarTerminos(**kwargs): #Así acepta elementos clave valor
  for llave,valor in kwargs.items():
    print(f'{llave}:{valor}')

ListarTerminos(IDE='Integrated Development Environment', HTML='Hipertext Markup Language', SQL='Structured Query Language')

#def funcionTodaRara(nombre, *args, **kwargs):

IDE:Integrated Development Environment
HTML:Hipertext Markup Language
SQL:Structured Query Language

In [ ]:
def desplegarNombres(nombres):
  for nombre in nombres:
    print(nombre)

nombres=['Pepe','Marco','Isaac\n']
desplegarNombres(nombres)
desplegarNombres('Carlos')

Pepe
Marco
Isaac

C
a
r
l
o
s